body {
    margin:0;
    font-family: 'Roboto', sans-serif; 
}
#navbar{
    display: flex;
    background-color: #222;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
}
#navbar a {
    margin-right: 10px;
    font-weight: 500;
    color: cornsilk;
    text-decoration: none;
}
#navbar a:hover{
    background-color: blue;
    text-decoration: underline;
}
#hero{
  padding: 60px;
  text-align: center;
  background: #000;
  color: white;
}
#hero p{
    font-style: italic;
    color: crimson;

}
#projects{
  padding: 60px;
  background:rgba(13, 7, 66, 0.897);
  
}
#projects h1{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
#projects .container{
    width: 100%;
}
#projects .container .single-project h1{
    display: flex;
    justify-content: center;
    margin: 50px 0 20px 0;

}
#projects .container .single-project .image {
    width: 100%;
    height: 220px;
}
#projects .container .single-project .image img {
    width: 100%;
    height: 220px;
}
/* #projects .container .single-project .image.project1 {
    background-image: url('images/project1.jpg')
} */
#projects .container .single-project{
    width: 32%;
    display: inline-block;
}
#projects a{
    background-color: blanchedalmond(1, 1, 8);
    text-decoration: underline;
}
#projects a:hover{
    background-color: rgb(1, 1, 8);
    text-decoration: underline;
}
#contact{
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    background: black;
}
#contact h1{
    color: blanchedalmond;
}
#contact p{
    color: blanchedalmond;
}
footer{
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    
}


/*
wrapper - div
height
background-image or color
flex
position

text - 2
color, weight, size

2nd text - sub-heading
margin -
*/